#wrap {
    width: 100%; 
    height: 100%;
    color:black;
    text-align: center;
    background-color: rgb(255, 153, 0);
}
ul {
    list-style-type: none;
}
li {
    text-decoration: none;
}
* {
    margin: 0; padding: 0;
}
#header {
    width: 100%; height: 150px;
    background-color: aqua;
}
#header>#menu1>ul>.submenu {
    background-color: blueviolet;
    width: 300px; height: 110px;
    float: left;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 40px;
}
