#wrap {
    width:100%; height:100%;
    border: 1px solid black;
    text-align: center;    
}
/* ul {
    padding-left: 40px;
} */
li{
    list-style-type: none;
    /* border: 1px solid black;    */
}
#header {
    width: 100%; height:100px;
    border: 1px solid green;
}
#header>#logo{
    width:10%; height: 100px;
    /* background-color: red; */
    border: 1px solid red;
    float:left;
}
#header>#menu {
    width:89.7%; height: 100px;
    /* background-color: orange; */
    border: 1px solid orange;
    float:left;
}
#menu>ul>.list {
    width:150px; height: 100px;
    margin: 10px 10px auto;
    display: inline-block;
    border: 1px solid black;
    padding-right: 40px;
}

#slide {
    width: 100%; height: 500px;
}

#content {
    width: 100%; height:500px;
    border: 1px solid red;
}
#content>.link {
    width: 19.80%; height: 500px;
    border: 1px solid blue;
    float: left;
}

#footer {
    width: 100%; height:300px;
    border: 1px solid blue;
}
#footer>#left {
    width:19.80%; height:200px;
    border: 1px solid black;
    float: left;
}
#footer>#rightup {
    width: 80%; height: 100px;
    background-color: bisque;
    float: left;
}
#footer>#rightdown {
    width: 80%; height: 100px;
    background-color: burlywood;
    float: left;
}